@model Proyecto.Model.Clases.Proveedores

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-sm bg-light">
        <div class="card-header">
            <h4>¿Desea continuar?</h4>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="row">Razón Social: </th>
                        <th scope="row">Codigo Tributario: </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.RazonSocial)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.CodigoTributario)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer text-md-center">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-danger">Eliminar</button>
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary ml-2" })
            }
        </div>
    </div>
</div>